*.ccp4
*.la
*.lo
*.mtz
*.o
*~
.bzr/
.deps/
.libs/
Doxyfile
Makefile
Makefile.in
README.html
aclocal.m4
autom4te.cache/
config.log
config.status
config/ax_pkg_swig.m4
config/ax_python_devel.m4
config/ax_swig_multi_module_support.m4
config/ax_swig_python.m4
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/libtool.m4
config/ltmain.sh
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/missing
config/py-compile
configure
doc/
gpp4.info
gpp4.m4
gpp4.pc
gpp4.spec
gpp4f.pc
libtool
pyext/gpp4.py
pyext/gpp4_wrap.c
src/ccp4_program.h
src_f/unix.f
test/checkarch
test/load_syminfo
test/maphdr
test/mtz2csv
test/mtzcols
test/mtzhdr
